*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #505050;
  color: #fff;
}

#clear__btn,
#backspace__btn {
  padding: 15px 30px;
  border-radius: 15px;
  flex-basis: 115px;
}

#clear__btn {
  background-color: #bd0000;
}

#backspace__btn {
  background-color: #d4d4d2;
  color: #1c1c1c;
}

.container {
  width: 375px;
  margin: 130px auto 0 auto;
  background-color: #1c1c1c;
  border-radius: 35px;
  padding: 30px 40px;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 15px;
  row-gap: 30px;
}

#calculator__screen {
  grid-column: 1 / -1;
  font-size: 36px;
  /* padding: 10px 0; */
  color: #fff;
  background-color: #1c1c1c;
  margin: 0;
  text-align: right;
  justify-self: stretch;
}

div#clear {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  justify-self: stretch;
}

.operator__btn {
  background-color: #ff9500;
  color: white;
}
